.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    text-align: center;
    background-color: var(--text-primary-color);

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 60px;

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.footer-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.footer-box--flex {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 60px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: row;
        gap: 165px;
        padding-left: 51px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 70px;
    }
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 1200px) {
        align-items: start;
    }
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: 232px;
    }

    @media screen and (min-width: 1200px) {
        align-items: start;
    }
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-link--color {
    color: #fff;
}

.address-link:hover,
.address-link:focus {
    color: var(--secondary-decoretion-color);

    .address-link--color {
        color: var(--secondary-decoretion-color);
    }
}

// join
.social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 1200px) {
        align-items: start;
    }
}

// form
.mailing {
    width: 100%;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: 450px;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        width: 570px;
        margin: 0;
    }
}

.mailing-label {
    display: flex;
    height: 50px;

    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}

.mailing-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.mailing-imput {
    width: 100%;
    height: 100%;
    padding: 15px 0 15px 16px;
    border-radius: 4px;
    background-color: var(--text-primary-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--main-decoretion-color);
}
